<div class="row">

  <div class="col-md-12">
    <div ba-panel ba-panel-class="medium-panel black-panel" id="logo">
      <canvas id="connect" dash-logo></canvas> 
      <!-- <canvas id="canvas" style="background-image: url(assets/img/iKy.png); background-position: center; background-repeat: no-repeat;"   ></canvas> -->
    </div>
  </div>

</div>


<div class="row">
  <div class="col-lg-6 col-md-12 col-sm-12"
       ba-panel
       ba-panel-title="Modules Gather Type"
       ba-panel-class="medium-panel black-panel">
    <module-chart></module-chart>
  </div>
  <div class="col-xlg-6 col-lg-6 col-md-6 col-xs-12"
       ba-panel
       ba-panel-title="To Do List"
       ba-panel-class="medium-panel with-scroll todo-panel black-panel">
    <dash-todo></dash-todo>
  </div>
</div>
