.panel.panel-blur.black-panel{
  background: rgba(0,0,0,0.5);
}
.wday{
  font-size:9px;
  fill:#e6e6e6;
}
.month{
  font-size:10px;
  fill:#e6e6e6;
}




.soup-title {
  font-size: 40px;
}

.soup-desc {
  font-size: 20px;
}

#soup-parent {
  width: 100%;
  height: 100%;
  background-color: #EEE;
  color: green;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  border: 5px solid green;
}

#soup-container {
  width: 100%;
  height: 100%;
  min-width: 320px;
  min-height: 480px;
  position: relative;
  border: 5px solid red;
}

.letters-wrap {
  position: absolute;
  overflow: visible;
  display: inline-block;
}
.letters-wrap.mutable {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 5px solid blue;
}
.letters-wrap.mutable .letter {
  position: absolute;
  left: 0;
  top: 0;
  transition: left 2s, top 2s, color 2s;
  color: red;
  border: 5px solid purple;
}
.letters-wrap.mutable .letter.active {
  color: red;
  z-index: 9001;
}
.letters-wrap.position-data {
  top: 50%;
  left: 50%;
  /*opacity: 0.1;*/
  visibility: hidden;
  transform: translate(-50%, -50%);
  border: 5px solid grey;
}

#segments {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.letter {
  /*display: inline-block;*/
  color: red;
}
