  <div class="col-md-4 col-lg-4" ng-show="$parent.gather.fullcontact.result[3].graphic[3].bios[0]">
    <div ba-panel ba-panel-title="Bios" ba-panel-class="medium-panel black-panel with-scroll light-text" >
      <div style="height: 100%; width: 100%; justify-content: center; align-items: center; display: flex; font-size: 18px; color: #fafafa; text-align: center; ">
        <textscramble phrases="$parent.gather.fullcontact.result[3].graphic[3].bios"></textscramble>
      </div>
    </div>
  </div>
