  <div class="col-md-8 col-lg-8" ng-show="$parent.gather.github.result[3].graphic[1].cal_actual" ng-controller="githubCalendar">
    <div ba-panel ba-panel-title="GitHub contributions (two last years)" ba-panel-class="medium-panel black-panel with-scroll light-text">
      <div id="git-cal-1" align="center" style="padding:20px;" ng-bind-html="$parent.gather.github.result[3].graphic[1].cal_actual"></div>
      <div id="git-cal-2" align="center" style="padding:20px;" ng-bind-html="$parent.gather.github.result[3].graphic[2].cal_previous"></div>
    </div>
  </div>
