  <div class="col-md-4 col-lg-4" ng-show="$parent.gather.github.result[3].graphic[0].github" >
    <div ba-panel ba-panel-title="GitHub" ba-panel-class="medium-panel black-panel with-scroll light-text">
        <d3-relations data="$parent.gather.github.result[3].graphic[0].github"></d3-relations>
    </div>
  </div>
