  <div class="col-md-4 col-lg-4" ng-show="$parent.gather.keybase.result[3].graphic[1].devices" >
    <div ba-panel ba-panel-title="Keybase Devices" ba-panel-class="medium-panel black-panel with-scroll light-text">
        <d3-relations data="$parent.gather.keybase.result[3].graphic[1].devices"></d3-relations>
    </div>
  </div>
