<div class="col-md-4 col-lg-4" ng-show="$parent.gather.leaks.result[3].graphic[0].leaks[0]" >
    <div ba-panel ba-panel-title="Leaks" ba-panel-class="medium-panel black-panel with-scroll light-text">
        <d3-relations data="$parent.gather.leaks.result[3].graphic[0].leaks"></d3-relations>
    </div>
  </div>
