  <div class="col-md-4 col-lg-4" ng-show="$parent.gather.fullcontact.result[3].graphic[0].social" >
    <div ba-panel ba-panel-title="Social" ba-panel-class="medium-panel black-panel with-scroll light-text">
        <d3-relations data="$parent.gather.fullcontact.result[3].graphic[0].social"></d3-relations>
    </div>
  </div>
