  <div class="col-md-4 col-lg-4" ng-show="$parent.gather.twitter.result[3].graphic[2].approval">
    <div ba-panel ba-panel-title="Twitter approval" ba-panel-class="medium-panel black-panel with-scroll light-text" >
      <am-pie-chart  chartid="chartdiv-2" values="$parent.gather.twitter.result[3].graphic[2].approval"></am-pie-chart>
      <div id='chartdiv-2' style="min-width: 310px; height: 300px; margin: 0 auto"></div> 
    </div>
  </div>
