<div class="widgets">

  <div class="row">
    <div class="col-md-12">
      <div
          ba-panel
          ba-panel-title="Information Gathering"
          ba-panel-class="with-scroll black-panel">
        <div ng-include="'app/pages/gatherer/widgets/email.html'"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div ng-include="'app/pages/gatherer/widgets/social.html'"></div>
    <div ng-include="'app/pages/gatherer/widgets/bios.html'"></div>
    <!--
    <div ng-include="'app/pages/gatherer/widgets/photos.html'" ng-controller="gathererPhotosController"></div>
    -->
    <div ng-include="'app/pages/gatherer/widgets/klout.html'"></div>
    <div ng-include="'app/pages/gatherer/widgets/twitter-popularity.html'"></div>
    <div ng-include="'app/pages/gatherer/widgets/twitter-approval.html'"></div>
    <div ng-include="'app/pages/gatherer/widgets/twitter-resume.html'"></div>
    <div ng-include="'app/pages/gatherer/widgets/github.html'" ng-controller="gathererGithubController"></div>
    <div ng-include="'app/pages/gatherer/widgets/github-calendar.html'"></div>
    <div ng-include="'app/pages/gatherer/widgets/keybase.html'" ng-controller="gathererKeybaseController"></div>
    <div ng-include="'app/pages/gatherer/widgets/keybase-device.html'" ng-controller="gathererKeybaseController"></div>
    <div ng-include="'app/pages/gatherer/widgets/leaks.html'"></div>
    <!--
    <div ng-include="'app/pages/gatherer/widgets/gitlab.html'" ng-controller="gathererGitlabController"></div>
    <div ng-include="'app/pages/gatherer/widgets/usersearch.html'" ng-controller="gathererUsernameController"></div>
    -->
  </div>

</div>
